.app-title {
  margin-left: 8px;
}

.app-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  width: 220px;
}

.app-content {
  padding: 24px;
}

.active-link {
  font-weight: 600;
}
