# Zephyr Scale integration
ZEPHYR_API_TOKEN=
ZEPHYR_PROJECT_KEY=AP
ZEPHYR_BASE_URL=https://api.zephyrscale.smartbear.com/v2
ZEPHYR_TEST_CYCLE_KEY=
ZEPHYR_ENVIRONMENT=local

# App under test
UI_BASE_URL=http://localhost:4200
